<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roadservice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".RoadServiceApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoadServiceMobile"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.issues.team.TeamDashboardActivity" />
        <activity android:name=".ui.issues.team.EndMissionActivity" />
        <activity android:name=".ui.issues.team.CurrentMissionActivity" />

        <activity android:name=".ui.issues.specialist.CreateMissionActivity" />
        <activity android:name=".ui.issues.specialist.PendingIssuesActivity" />
        <activity android:name=".ui.issues.specialist.IssuesListActivity" />
        <activity android:name=".ui.issues.specialist.IssueDetailsActivity" />
        <activity android:name=".ui.issues.specialist.SpecialistDashboardActivity" />

        <activity android:name=".ui.issues.citizen.SelectLocationActivity" />
        <activity android:name=".ui.issues.citizen.CitizenDashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.accounts.ChangePasswordActivity" />
        <activity android:name=".ui.accounts.RegisterActivity" />
        <activity android:name=".ui.accounts.ForgetPasswordActivity" />
        <activity android:name=".ui.accounts.LoginActivity" />

        <activity android:name=".ui.MainActivity" />

        <service
            android:name=".SendLocationService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>